{% extends 'base.html' %}
{% block content %}
    <form class="login-register" action="{% url 'authentication:register' %}" method="post">
        {% csrf_token %}
        {{ form.errors }}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}: *</label>
                {{ field }}
                {% if field.help_text %}
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit">Register</button>
    </form>
{% endblock content %}
